{% extends 'base.html.twig' %}

{% block carousel %}{% endblock %}


{% block content %}

	<!-- Three columns of text below the carousel -->
	<div class="row">
		<div class="col-lg-4">
			<img src="/images/expositions/accessoir6.jpeg" class="bd-placeholder-img rounded-circle" width="140" height="140" alt="">


			<h2>Accessoirs</h2>
			<p>Authentiques et élégants, les bijoux africains aux matières naturelles et aux styles particuliers vous invite à un voyage en terre africaine.
																																																																																																																																																																																																																																								Ainsi des découvertes riches en émotion nous attendent au détour d'un marché local ou d'un étalage de rue.</p>
			<p>
				<a class="btn btn-primary" href="#" role="button">View details &raquo;</a>
			</p>
		</div>
		<!-- /.col-lg-4 -->
		<div class="col-lg-4">
			<img src="/images/expositions/tenu1.jpeg" class="bd-placeholder-img rounded-circle" width="140" height="140" alt="">

			<h2>Tenues</h2>
			<p>robe wax ,courte ou longue, robe portefeuille en wax,robe portefeuille  robe portefeuille en wax robe sexy , courte ou longue, robe portefeuille en wax, robe sexy , robe circulaire, jupe wax, pantalon, combinaison, short, bombers</p>


			<p>
				<a class="btn btn-primary" href="#" role="button">View details &raquo;</a>

			</p>
		</div>
		<!-- /.col-lg-4 -->
		<div class="col-lg-4">
			<img src="/images/expositions/thiap.jpeg" class="bd-placeholder-img rounded-circle" width="140" height="140" alt="">


			<h2>Chaussures</h2>
			<p>vec la montée du style ethnique, les tissus africains transforment toutes les garde-robes. C’est le nouveau style tendance à avoir chez soi, pour se donner un look hors du commun et fabuleux. Colorés, rares, chics</p>
			<p>
				<a class="btn btn-primary" href="#" role="button">View details &raquo;</a>

			</p>
		</div>
		<!-- /.col-lg-4 -->
	</div>
	<!-- /.row -->


	<!-- START THE FEATURETTES -->

	<hr class="featurette-divider">

	<div class="row featurette">
		<div class="col-md-7">
			<h2 class="featurette-heading" style="color: blue">Nos robes voile tres leger.
				<span class="text" style="color: blue"></span>
			</h2>
			<p class="lead">les longs vêtements et leurs mouvements sur la silhouette sont un éloge à la féminité, à la grâce et à la fécondité. Rien n’est laissé au hasard. Chaque élément dérive d’un rituel qui a été transmis de génération en génération, et il est typique d’une tribu ou d’une région. Les pictogrammes racontent les histoires des tribus. Le tissu du Ghana est similaire à la soie et très riche en couleurs et en nuances, qui nous parlent de coins de paradis. Le symbolisme géométrique des tenues charme tous nos sens..</p>

		</div>
		<div class="col-md-5">
			<img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="/images/expositions/thioro.jpeg" alt="" style="border-radius: 15%;">
		</div>
	</div>

	<hr class="featurette-divider">

	<div class="row featurette">
		<div class="col-md-7 order-md-2">
			<h2 class="featurette-heading" style="color: blue">Grand boubou homme.
				<span class="text" style="color: blue"></span>
			</h2>
			<p class="lead">

				Cette tenue Africaine moderne est composée de trois pièces à savoir :
																									
																									Un Pantalon, un Kaftan et un Grand boubou Brodé qui fait ressortir l’élégance de cette tenue.
			</p>

			.</p>
	</div>
	<div class="col-md-5 order-md-1">
		<img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="/images/expositions/papa.jpeg" alt="" style="border-radius: 15%;">
	</div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
	<div class="col-md-7">
		<h2 class="featurette-heading" style="color: blue">Grand boubou femme.


			<span class="text" style="color: blue"></span>

		</h2>
		<p class="lead">Ce boubou peut être porté lors des cérémonies traditionnelles africaines. Vous pouvez choisir votre taille et la couleur qui vous convient.</p>

	</div>
	<div class="col-md-5">
		<img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="400" src="/images/expositions/thioro2.jpeg" alt="" style="border-radius: 15%;">
	</div>
</div>
<hr class="featurette-divider">
<div class="row featurette">
	<div class="col-md-7 order-md-2">
		<h2 class="featurette-heading" style="color: blue">Tenue Homme de classe.
			<span class="text" style="color: blue"></span>
		</h2>
		<p class="lead">Cette tenue traditionnelle est une tenue africaine moderne qui peut être portée à n'importe quel rendez-vous, que ce soit au travail, en réunion, mariage, cérémonie de nomination, etc.
		</p>


	</div>
	<div class="col-md-5 order-md-1">
		<img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="/images/expositions/thio.jpeg" alt="" style="border-radius: 15%;">
	</div>
</div>


<hr
class="featurette-divider">

<!-- /END THE FEATURETTES -->
œ{% endblock %}
